# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual Environments
.venv/
venv/
ENV/

# OS-specific
.DS_Store
Thumbs.db
._* # Mac 메타데이터 파일 추가

# VSCode
.vscode/

# Secrets and credentials
.env
*.env

# 배진석 관련 파일
experiments/
gitclone/
cache/
recording/

# 이미지 관련 파일 전부 제외
#assets/outputs/

# 입력폴더 공유시 주석처리
#assets/inputs/
data/
outputs/
models/
volumes/

# AI Model Files
*.ckpt
*.pt
*.pth
*.bin
*.safetensors
*.onnx
*.tflite
*.pb
*.h5
*.gguf

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
*-checkpoint.ipynb

# IDEs
.idea/
*.iml

# comfyui
comfyui/*

# 모델 경로 설정은 추적
# !comfyui/extra_model_paths.yaml

# 5. Logs & Monitoring
logs/
*.log

# Weights & Biases 로그 폴더
wandb/ 

# Docker Local Overrides
docker-compose.override.yml

# Backup files
*.backup
*.backup_*
*.swp